<%# code to add the main heading element and giving it a value the same as the
title variable %> <% if (title) { %>
<h1><%- title %></h1>
<% } else {res.redirect('/')}%> <%- messages() %> <% if (errors) { %>
<ul class="notice">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %>

<form action="/inv/add-inventory" method="post">
  <%- selectList %>
  <label for="inv_make">Inventory Make</label>
  <input
    type="text"
    name="inv_make"
    id="inv_make"
    value="<%= inv_make %>"
    required
  />
  <label for="inv_model">Inventory Model</label>
  <input
    type="text"
    name="inv_model"
    id="inv_model"
    value="<%= inv_model %>"
    required
  />
  <label for="inv_year">Inventory Year</label>
  <input
    type="text"
    name="inv_year"
    id="inv_year"
    value="<%= inv_year %>"
    required
  />
  <label for="inv_description">Inventory Description</label>
  <textarea
    cols="4"
    name="inv_description"
    id="inv_description"
    value="<%= inv_description %>"
    required
  >
  </textarea>
  <label for="inv_image">Inventory Image</label>
  <input
    name="inv_image"
    id="inv_image"
    value="/images/vehicles/no-image-tn.png"
    readonly
  />
  <label for="inv_thumbnail">Inventory Thumbnail</label>
  <input
    name="inv_thumbnail"
    id="inv_thumbnail"
    value="/images/vehicles/no-image.png"
    readonly
  />
  <label for="inv_price">Inventory Price</label>
  <input
    type="number"
    name="inv_price"
    id="inv_price"
    value="<%= inv_price %>"
    required
  />
  <label for="inv_miles">Inventory Miles</label>
  <input
    type="number"
    name="inv_miles"
    id="inv_miles"
    value="<%= inv_miles %>"
    required
  />
  <label for="inv_color">Inventory Color</label>
  <input
    type="text"
    name="inv_color"
    id="inv_color"
    value="<%= inv_color %>"
    required
  />
  <button>Add Inventory</button>
</form>
